@charset "UTF-8";
.page {
  width: 100%;
}

.content, .accordion {
  margin: 0 auto;
  max-width: 87.5rem;
}

.box {
  margin: 0 auto;
  padding-top: 1.875rem;
  max-width: 87.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
}
@media screen and (min-width: 640px) {
  .box {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}
.box__cup, .box__relax, .box__customized {
  margin-top: 2.5rem;
  padding: 1.25rem;
  width: 18.75rem;
  height: 30rem;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  box-shadow: 2px 2px 7px #dcdcdc;
  text-align: center;
  align-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box__cup::before, .box__relax::before, .box__customized::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: #7c6b4c;
  top: -2.5rem;
  left: 0;
  position: absolute;
  padding: 0.3125rem 1.875rem;
  width: 15rem;
  height: 1.875rem;
  background-color: #dbd1bd;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .box__cup, .box__relax, .box__customized {
    width: 21.875rem;
  }
  .box__cup::before, .box__relax::before, .box__customized::before {
    width: 18.125rem;
  }
}
@media screen and (min-width: 850px) {
  .box__cup, .box__relax, .box__customized {
    margin-top: 0;
  }
  .box__cup::before, .box__relax::before, .box__customized::before {
    transform: rotate(270deg);
    top: 4rem;
    left: -6.5625rem;
    position: absolute;
    width: 6.875rem;
  }
}
.box__cup::before {
  content: "Na skleničku";
}
.box__relax::before {
  content: "Na pohodu";
}
.box__customized::before {
  content: "Na míru";
}
.box__image--cup, .box__image--relax, .box__image--customized {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.box__title {
  margin: 0;
  padding-top: 1.25rem;
  text-transform: uppercase;
}
.box__description {
  font-size: 0.875rem;
  height: 11.25rem;
}
.box__button {
  padding: 0.625rem;
  display: inline-block;
  background-color: #7c6b4c;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s linear;
}
.box__button:hover {
  cursor: pointer;
  background-color: #29241b;
}

.reservation {
  margin: 0 auto;
  max-width: 87.5rem;
  overflow: hidden;
  max-height: 0;
  transition: 0.6s ease-in-out;
}
.reservation__inner {
  padding: 3.125rem;
}
.reservation__title {
  text-align: center;
}
.reservation__form--label {
  margin-top: 1rem;
  display: block;
  color: #7c6b4c;
  font-weight: bold;
}
.reservation__form--input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid #dcdcdc;
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
}
.reservation__form--input:focus {
  border-color: #7c6b4c;
}
.reservation__form--button {
  display: block;
  background-color: #7c6b4c;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  padding: 0.7rem 2rem;
  margin: 0.5rem 0;
  transition: background-color 0.2s linear;
}
.reservation__form--button:hover {
  background-color: #29241b;
}
.reservation__form--message {
  padding-top: 1.875rem;
  font-size: 1.125rem;
  color: #7c6b4c;
  text-align: center;
  font-weight: bold;
}
.reservation__close {
  padding: 1rem;
  color: #29241b;
  font-size: 1.875rem;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.reservation__close:hover {
  color: #7c6b4c;
}

.form__flex--row {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
@media screen and (min-width: 640px) {
  .form__flex--row {
    flex-direction: row;
  }
}

.form__flex--coll {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.form__text {
  display: none;
}

#select-packet {
  padding: 0.4375rem;
}

#number {
  padding: 0.5625rem;
}

.accordion__title {
  text-align: center;
}
.accordion__description {
  margin-bottom: 1.25rem;
  text-align: center;
}
.accordion__container + .accordion__container {
  border-top: 1px solid #ffffff;
}
.accordion__label {
  margin: 0;
  padding: 0.625rem;
  background-color: #7c6b4c;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.2s linear;
  text-transform: uppercase;
}
.accordion__label:after {
  content: "+";
  color: #ffffff;
  font-weight: bold;
  float: right;
  margin-left: 0.3125rem;
}
.accordion__label:hover {
  background-color: #29241b;
}
.accordion__content {
  margin: 0;
  padding: 0 0.625rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: #f8f9fa;
}

.content--active {
  display: block;
}

.reservation--active {
  display: block;
}

.label--active:after {
  content: "−";
}/*# sourceMappingURL=style.css.map */