@use '../../../color';

.item {
    margin: 0 auto;
    padding: 1.25rem;
    min-width: 15.625rem;
    max-width: 21.875rem;
    min-height: 18.75rem;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 2px 7px #dcdcdc;
    text-align: center;

    @media screen and (min-width: 640px) {
        width: 21.875rem;
        min-height: 21.875rem;
    }

    &__wrap {
        position: relative;
        max-width: 100%;
        overflow: hidden;

        &:hover::before {
            content: '';
            position: absolute;
            left: -110%;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 50%,rgba(255,255,255,0) 100%);
            z-index: 2;
            transform: skew(30deg);
            animation-name: shine;
            animation-duration: 0.75s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-direction: normal;
        }
    }

    &__image {
        min-width: 9.375rem;
        max-width: 15.625rem;
        height: 9.375rem;

        @media screen and (min-width: 640px) {
            max-width: 18.75rem;
            height: 12.5rem;
        }
    }

    &__title {
        margin: 0;
        padding-top: 0.9375rem;
        font-weight: bold;
        color: color.$link-active;
    }

    &__price {
        margin: 0;
        color: #808080;
    }

    &__status {
        color: #ff0000;
        font-size: 0.875rem;
        text-transform: uppercase;
    }
}

.available {
    color: #008000;
}

@keyframes shine {
    0% {   left: 0%; }
    50% {  left: 25%; }
    100% { left: 150%; }
}