@use '../../color';

.page {
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: 87.5rem;
}

.catalog {
    margin: 0 auto;
    max-width: 87.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.875rem;
    justify-content: space-around;

    @media screen and (min-width: 640px) {
        flex-direction: row;
    }
}

.filters {
    margin: 0 auto 1.25rem auto;
    max-width: 87.5rem;
    background-color: #dbd1bd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 660px) {
        flex-direction: row;
    }

    &__form--main, &__form--minor {
        padding: 1.25rem;
    }

    &__form--main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media screen and (min-width: 660px) {
            flex-direction: row;
        }
    }

    &__form--minor {
        align-self: start;

        @media screen and (min-width: 660px) {
            align-self: center;
        }
    }

    &__field {
        margin: 0.625rem 0.625rem 0.625rem 0;
    }

    &__label {
        font-size: 1.125rem;
        color: color.$link-active;
    }

    &__select {
        padding: 0.3125rem;
        font-size: 1rem;
        color: color.$link-active;
        border: 1px solid color.$link-active;
    }

    &__button {
        padding: 0.375rem;
        font-size: 1rem;
        background-color: color.$link-default;
        color: #ffffff;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.2s linear;

        &:hover {
            background-color: color.$link-active;
        }
    }
}

#loader {
    margin: 1.25rem auto;
    width: 6.25rem;
    height: 3.125rem;
    text-align: center;

  &__ball{
    width: 1.25rem;
    height: 1.25rem;
    background-color: color.$link-default;
    border-radius: 50%;
    display: inline-block;
    animation: motion 3s ease-in-out infinite;
    }

    &__text{
        margin-top: 0.3125rem;
        color: color.$link-default;
        font-size: 0.875rem;
        letter-spacing: 0.1875rem;
        text-transform: uppercase;
    }
}

@keyframes motion {
    0%   { transform: translateX(0) scale(1); }
    25%  { transform: translateX(-3.125rem) scale(0.3); }
    50%  { transform: translateX(0) scale(1); }
    75%  { transform: translateX(3.125rem) scale(0.3); }
    100% { transform: translateX(0) scale(1); }
}