@use '../../color';

header {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}

.header {
    margin: 0 auto;
    padding: 0 2.5rem;
    max-width: 87.5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.25rem;
    position: relative;

    @media screen and (min-width: 640px) {
        align-items: center;
    }

    &__inner {
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            width: 3.125rem;
            height: 100%;
            position: absolute;
            top: 0;
            left: -40%;
            background: linear-gradient(
                to right, 
                    rgba(248, 249, 250, 0.13) 0%,
                    rgba(248, 249, 250, 0.13) 77%,
                    rgba(248, 249, 250, 0.5) 92%,
                    rgba(248, 249, 250, 0) 100%
            );
            transform: skewX(-30deg);
            animation-name: shine;
            animation-duration: 6s;
            animation-timing-function: ease;
            animation-delay: 0.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            z-index: 1;
        }
    }

    &__logo {
        width: 9.375rem;
        height: 5rem;
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

@keyframes shine {
    0%   { left: -40%; }
    50%  { left: 30%; }
    100% { left: 105%; }
}