@use '../../color';

#go-top {
    padding: 0.9375rem;
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: color.$link-active;
    color: #ffffff;
    font-size: 1.125rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in;

    &::after {
        display: inline-block;
        width: 1.25rem; 
        height: 1.25rem;
        background-image: url('./img/icon-arrow-top-light.svg');
        background-size: 1.25rem 1.25rem;
        content: "";
    }

    &:hover {
        background-color: #dbd1bd;

        &::after {
            background-image: url('./img/icon-arrow-top-dark.svg');
        }
    }
}