@use 'color';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
	margin: 0;
  line-height: 1.6;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background-color: color.$bg-primary;
  color: color.$font-primary;
}

.section__title {
  text-align: center;
}

.background-white {
  background-color: #ffffff;
}